<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PMS</servlet-name>
        <servlet-class>servlet.PMSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <jsp-file>/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createSession</servlet-name>
        <jsp-file>/createSession.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>sessionCreated</servlet-name>
        <jsp-file>/sessionCreated.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editMain</servlet-name>
        <jsp-file>/editMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editSelectSessions</servlet-name>
        <jsp-file>/editSelectSessions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editSessions</servlet-name>
        <jsp-file>/editSessions.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>sessionEdited</servlet-name>
        <jsp-file>/sessionEdited.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>sessionError</servlet-name>
        <jsp-file>/sessionError.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>deleteMain</servlet-name>
        <jsp-file>/deleteMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>deleteSelectSession</servlet-name>
        <jsp-file>/deleteSelectSession.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>sessionDeleted</servlet-name>
        <jsp-file>/sessionDeleted.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createSubEventMain</servlet-name>
        <jsp-file>/createSubEventMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>subEventCreated</servlet-name>
        <jsp-file>/subEventCreated.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>createSessionMain</servlet-name>
        <jsp-file>/createSessionMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>eventCreated</servlet-name>
        <jsp-file>/eventCreated.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>displaySeats</servlet-name>
        <jsp-file>/displaySeats.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>seatsPriceCreated</servlet-name>
        <jsp-file>/seatsPriceCreated.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>viewSeatsPrice</servlet-name>
        <jsp-file>/viewSeatsPrice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>viewPrice</servlet-name>
        <jsp-file>/viewPrice.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>generateUser</servlet-name>
        <jsp-file>/generateUser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <jsp-file>/signIn.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>signInCompleted</servlet-name>
        <jsp-file>/signInCompleted.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>displaySeatsMain</servlet-name>
        <jsp-file>/displaySeatsMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotion</servlet-name>
        <jsp-file>/promotion.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotionMain</servlet-name>
        <jsp-file>/promotionMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotionCreated</servlet-name>
        <jsp-file>/promotionCreated.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotion_ticket</servlet-name>
        <jsp-file>/promotion_ticket.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotion_ticketMain</servlet-name>
        <jsp-file>/promotion_ticketMain.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotion_Customization</servlet-name>
        <jsp-file>/promotion_Customization.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>promotionCreated_Customization</servlet-name>
        <jsp-file>/promotionCreated_Customization.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createSession</servlet-name>
        <url-pattern>/createSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PMS</servlet-name>
        <url-pattern>/PMS/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionEdited</servlet-name>
        <url-pattern>/sessionEdited</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSelectSessions</servlet-name>
        <url-pattern>/editSelectSessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionCreated</servlet-name>
        <url-pattern>/sessionCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSessions</servlet-name>
        <url-pattern>/editSessions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMain</servlet-name>
        <url-pattern>/editMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionError</servlet-name>
        <url-pattern>/sessionError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMain</servlet-name>
        <url-pattern>/deleteMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSelectSession</servlet-name>
        <url-pattern>/deleteSelectSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionDeleted</servlet-name>
        <url-pattern>/sessionDeleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createSubEventMain</servlet-name>
        <url-pattern>/createSubEventMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subEventCreated</servlet-name>
        <url-pattern>/subEventCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createSessionMain</servlet-name>
        <url-pattern>/createSessionMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eventCreated</servlet-name>
        <url-pattern>/eventCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaySeats</servlet-name>
        <url-pattern>/displaySeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seatsPriceCreated</servlet-name>
        <url-pattern>/seatsPriceCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSeatsPrice</servlet-name>
        <url-pattern>/viewSeatsPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPrice</servlet-name>
        <url-pattern>/viewPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateUser</servlet-name>
        <url-pattern>/generateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signInCompleted</servlet-name>
        <url-pattern>/signInCompleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaySeatsMain</servlet-name>
        <url-pattern>/displaySeatsMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotion</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotionMain</servlet-name>
        <url-pattern>/promotionMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotionCreated</servlet-name>
        <url-pattern>/promotionCreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotion_ticket</servlet-name>
        <url-pattern>/promotion_ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotion_ticketMain</servlet-name>
        <url-pattern>/promotion_ticketMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotion_Customization</servlet-name>
        <url-pattern>/promotion_Customization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotionCreated_Customization</servlet-name>
        <url-pattern>/promotionCreated_Customization</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
